<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="navbar">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/login" routerLinkActive="active" style="float: right;">Login</a>
</div>
<div style="text-align: center;color: black;">
    <h1>{{message}}</h1>    
</div>
<div>
    <form>
        <br>
        Login as Trainer<br><br><br>
        <i class="fa fa-envelope icon"></i> 
        <input type="email" class="input_field" name="email" placeholder="Email" [(ngModel)]="trainerlogin.email" required><br>
        <i class="fa fa-key icon"></i> 
        <input type="password" class="input_field" name="password" placeholder="Password" [(ngModel)]="trainerlogin.password" required><br><br>
        <button type="submit" (click)="trainerLoginNow()">Login</button><br><br>
    </form>
</div>