<head>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel=“stylesheet” href=“https://use.fontawesome.com/releases/v5.5.0/css/all.css” integrity=“sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU” crossorigin=“anonymous”>
</head>
<body>
    <p id="welcomenote">Welcome {{email}} !!!</p>
    <div class="navbar">
        <a class="pagename" style="font-size:150%">Trainer</a>
        <a routerLink="/home" routerLinkActive="active" style="float: right;">Logout</a>
        <a style="float: right;">View Performance</a>
        <a style="float: right;">Projects</a>
        <a routerLink="/login/trainer/trainerassignments" routerLinkActive="active" style="float: right;">Assignments</a>
        <a style="float: right;">Quiz</a>
        <a routerLink="/login/trainer/trainerprofile" routerLinkActive="active" style="float: right;">Profile</a>
    </div>  <br>
    <div>
        <form>
            <h5>{{title}}</h5>
            <p>Submitted By: {{grademail}}</p>
            <p>Filename: {{filename}}</p>
            <button class="buttons" (click)="downloadNow()">Download</button>
            <p>Score: <input type="text" name="score" value={{score}} readonly></p>
            <i class='fas fa-edit'></i>
            <fa-icon [icon]="faCoffee"></fa-icon>
            <button class="buttons" type="button">Save</button>
            <br><br>
        </form>
    </div>
</body>


