
<div class="navbar">
    <a class="pagename" style="font-size:150%">Grad</a>
    <a routerLink="/home" routerLinkActive="active" style="float: right;">Logout</a>
    <a style="float: right;">View Performance</a>
    <a style="float: right;">Projects</a>
    <a style="float: right;">Assignments</a>
    <a style="float: right;">Quiz</a>
    <a style="float: right;">Profile</a>
  </div>  
  <div>
    <img src="assets/assessment_img.jpg" alt="Workplace">
    <p>Assessments<br> play a
       greater <br> part in building<br> an expert</p>
  </div>