<p id="welcomenote">Welcome {{email}} !!!</p>
<div class="navbar">
    <a class="pagename" style="font-size:150%">Grad</a>
    <a routerLink="/home" routerLinkActive="active" style="float: right;">Logout</a>
    <a routerLink="/login/grad/gradviewperformance" style="float: right;">View Performance</a>
    <a routerLink="/login/grad/gradprojects" style="float: right;">Projects</a>
    <a routerLink="/login/grad/gradassignments" routerLinkActive="active" style="float: right;">Assignments</a>
    <a style="float: right;">Quiz</a>
    <a style="float: right;">Profile</a>
  </div>
  <div>
    <p>ID: {{id}}</p>
    <p>Name: {{name}}</p>
    <p>Course: {{course}}</p>
    <p>Frontendmentor: {{frontendmentor}}</p>
    <p>Backendmentor: {{backendmentor}}</p>
  </div>