<script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"> </script>

    <p id="welcomenote">Welcome {{email}} !!!</p>
    <div class="navbar">
      <a class="pagename" style="font-size:150%">Trainer</a>
      <a routerLink="/home" routerLinkActive="active" style="float: right;">Logout</a>
      <a style="float: right;">View Performance</a>
      <a routerLink="/login/trainer/trainerprojects" style="float: right;">Projects</a>
      <a routerLink="/login/trainer/trainerassignments" routerLinkActive="active"style="float: right;">Assignments</a>
      <a routerLink="/login/trainer/trainerquiz" style="float: right;">Quiz</a>
      <a routerLink="/login/trainer/trainerprofile" routerLinkActive="active" style="float: right;">Profile</a>
    </div>
    <p>{{message}}</p>
    <div>
        <form>
            Assignment title<br>
            <input type="text" class="input_field" name="title" [(ngModel)]="createassignment.title" required><br>
            Assignment Description<br>
            <input type="text" class="input_field" name="description" required [(ngModel)]="createassignment.description"><br><br>
            <button type="submit" (click)="saveAssignments()" >Save</button><br><br>
        </form>
    </div>
