<p id="welcomenote">Welcome {{email}} !!!</p>
<div class="navbar">
    <a class="pagename" style="font-size:150%">Grad</a>
    <a routerLink="/home" routerLinkActive="active" style="float: right;">Logout</a>
    <a style="float: right;">View Performance</a>
    <a routerLink="/login/grad/gradprojects" style="float: right;">Projects</a>
    <a routerLink="/login/grad/gradassignments" routerLinkActive="active" style="float: right;">Assignments</a>
    <a style="float: right;">Quiz</a>
    <a routerLink="/login/grad/gradprofile" routerLinkActive="active" style="float: right;">Profile</a>
  </div>   <br>

<h4>{{title}}</h4>
<p>Posted By: {{posted_by}}</p>
<p>Description: {{description}}</p>

<p>{{message}}</p>

<div>
  <form>
    <h5>Drop Link</h5>
    <p style="font-style: normal; font-size: 70%;">Upload your project in Git and drop the link</p><br>
    <p>Link: <input type="text" name="projectlink" [(ngModel)]="submittedProject.projectlink" required></p><br><br>
    <button type="submit" (click)="uploadNow()" >Submit</button><br><br>
  </form>    
</div>
