<head>
    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine.css">
</head>
<body>
<p id="welcomenote">Welcome {{email}} !!!</p>
<div class="navbar">
    <a class="pagename" style="font-size:150%">Trainer</a>
    <a routerLink="/home" routerLinkActive="active" style="float: right;">Logout</a>
    <a style="float: right;">View Performance</a>
    <a routerLink="/login/trainer/trainerprojects" style="float: right;">Projects</a>
    <a routerLink="/login/trainer/trainerassignments" routerLinkActive="active" style="float: right;">Assignments</a>
    <a routerLink="/login/trainer/trainerquiz" style="float: right;">Quiz</a>
    <a routerLink="/login/trainer/trainerprofile" routerLinkActive="active" style="float: right;">Profile</a>
</div>  <br>

<h4>{{title}}</h4>
<p>Posted By:{{email}}</p>
<p>Description:{{description}}</p>
<br>
<ag-grid-angular
    #mygrid
    style="width: 800px; height: 300px; font-family:Arial, Helvetica, sans-serif" 
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    rowSelection="single"
    (rowClicked)="onRowClicked($event)">
</ag-grid-angular>
</body>