<p id="welcomenote">Welcome {{email}} !!!</p>
<div class="navbar">
    <a class="pagename" style="font-size:150%">Trainer</a>
    <a routerLink="/home" routerLinkActive="active" style="float: right;">Logout</a>
    <a routerLink="/login/trainer/trainerprojects" style="float: right;">Projects</a>
    <a routerLink="/login/trainer/trainerassignments" routerLinkActive="active"  style="float: right;">Assignments</a>
    <a routerLink="/login/trainer/trainerquiz" style="float: right;">Quiz</a>
    <a style="float: right;">Profile</a>
  </div>
  <div>
    <p>ID:{{id}}</p>
    <p>Name:{{name}}</p>
    <p>Team:{{team}}</p>
  </div>