<div class="navbar">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/login" routerLinkActive="active" style="float: right;">Login</a>
</div>
  
<div>
    <img src="assets/home_img.jpg" alt="Workplace">
    <p>Welcome to Accolite University!!!</p> <br><br><br><br><br><br><br><br><br>
    <blockquote>"Bringing the best practices from the Industry Expertise"</blockquote><br><br>
    <label> Login to continue further</label><br><br>
    <button routerLink="/login"> Login</button>
</div>